# pathes
SCRIPT_PATH=/home/dl/ramdisk
BUILD_ROOT=/home/dl/ramdisk/clfs_cross_tools
FILES=/home/dl/ramdisk/clfs_cross_tools/files
CLFS=/home/dl/ramdisk/clfs_cross_tools/system/sparc64-64
CLFS_SOURCES=/home/dl/ramdisk/clfs_cross_tools/system/sparc64-64/sources
CLFS_TOOLS=/home/dl/ramdisk/clfs_cross_tools/system/sparc64-64/tools
CLFS_CROSS_TOOLS=/home/dl/ramdisk/clfs_cross_tools/system/sparc64-64/cross-tools
PATH=/cross-tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
LC_ALL=POSIX
CFLAGS=
CXXFLAGS=
# target
TARGET_SYSTEM=sparc64-64
CLFS_TARGET=sparc64-unknown-linux-gnu
LINUX_ARCH=sparc64
BUILD64=-mcpu=ultrasparc -mtune=ultrasparc -m64
GCCTARGET=-mcpu=ultrasparc -mtune=ultrasparc
