# pathes
SCRIPT_PATH=/home/dl/ramdisk/build_qemu_image
BUILD_ROOT=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools
FILES=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools/files
CLFS=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools/system/ppc64-64
CLFS_SOURCES=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools/system/ppc64-64/sources
CLFS_TOOLS=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools/system/ppc64-64/tools
CLFS_CROSS_TOOLS=/home/dl/ramdisk/build_qemu_image/clfs_cross_tools/system/ppc64-64/cross-tools
PATH=/cross-tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
LC_ALL=POSIX
CFLAGS=
CXXFLAGS=
# target
TARGET_SYSTEM=ppc64-64
CLFS_TARGET=powerpc64-unknown-linux-gnu
LINUX_ARCH=powerpc
BUILD64= -m64
GCCTARGET=
