# pathes
SCRIPT_PATH=/home/dl/ramdisk
BUILD_ROOT=/home/dl/ramdisk/clfs_cross_tools
FILES=/home/dl/ramdisk/clfs_cross_tools/files
CLFS=/home/dl/ramdisk/clfs_cross_tools/system/alpha
CLFS_SOURCES=/home/dl/ramdisk/clfs_cross_tools/system/alpha/sources
CLFS_TOOLS=/home/dl/ramdisk/clfs_cross_tools/system/alpha/tools
CLFS_CROSS_TOOLS=/home/dl/ramdisk/clfs_cross_tools/system/alpha/cross-tools
PATH=/cross-tools/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games
LC_ALL=POSIX
CFLAGS=
CXXFLAGS=
# target
TARGET_SYSTEM=alpha
CLFS_TARGET=alphaev67-unknown-linux-gnu
LINUX_ARCH=alpha
BUILD64=-mcpu=ev67 -mtune=ev67
GCCTARGET=-mcpu=ev67 -mtune=ev67
